.light-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);;
  }
  .section__text{
    margin-right: 20px;
  }
  .light-text__aside-date{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
  }
  .main-h1{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
  }
  .h1{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    letter-spacing: -0.04em;
  }
  .search {
    width: 700px;
    height: 80px;
    border-radius: 24px;
    margin-top: 80px;
  }
  .button{
    position: absolute;
    left: 1129px;
    top: 397px;
    width: 160px;
    height: 60px;
    background: #000000;
    border-radius: 16px;
    color: white;
  }
  .sections-aside{
    display: flex;
    margin-left: 80px;
    margin-right: 27px;
    margin-top: 80px;
    justify-content: space-between;
  }
  .sections{
    width: 870px;
    margin-left: 80px;
  }
  .section__img{
    float: left;
    margin: 10px;
    border-radius: 20px;
  }
  .h3-sections{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
  }
  .section__img_authors{
    display: inline-flex;
    width: 320px ;
    height: 40px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
    justify-content: space-between;
  }
  .author-name{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
  }
  .sections__words{
    margin-left: 340px;
  }
  .aside{
    width: 720px;
    margin-right: 27px;
    margin-left: 140px;
  }
  .h2__aside{
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.04em;
  }
  .h3__aside{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.04em;
  }
  .aside__img{
    float: left;
    width: 180px;
    height: 120px;
    border-radius: 20px;
    margin-right: 10px;
  }
  .aside-1, .aside-2, .aside-3{
    padding: 17px;
  }
  .pagination{
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  .pagination a {
    display: inline-block;
    border: 1px solid lightgray;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 16px;
    width: 10px;
    height: 25px;
    text-align: center;
  }
  .pagination a.active {
    background-color: black;
    color: white;
  }
  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }