html, body {
    font-family:'Inter'; 
  }
  .header {
      border-bottom: 1px solid gray;
    }
    .header__menu {
      display: flex;
      justify-content: space-between;
      margin-right: 80.04px;
      margin-left: 80px;
      margin-top: 40px;
      padding: 20px;
    }
    .menu,
    a {
      display: flex;
      justify-content: space-around;
      width: 570px;
      text-decoration: none;
      color: black;
    }
    .footer {
      display: flex;
      border-bottom: 1px solid gray;
      padding-top: 50px;
      justify-content: space-between;
    }
    .footer__menu {
      display: inline-flex;
      width: 400px;
      height: 19px;
    }
    .footer-webflow{
      text-align: center;
      margin-top: 48px;
      margin-bottom: 48px;
    }