html, body {
    font-family:'Inter'; 
}

.header {
    border-bottom: 1px solid gray;
  }
  .header__menu {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-right: 60px;
    padding: 20px;
  }
  .menu,
  a {
    display: flex;
    justify-content: space-around;
    width: 505px;
    text-decoration: none;
    color: black;
  }

.home-page {
    display:grid;
    grid-template-columns: 45% 10% 45%;
    justify-content: space-between;
}

.home-page__header {
    background-color: #E7FAFE;
}

.home-page__categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-page__categories_header, .home-page__categories_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7%;
}
