.home-page {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
}

.home-page__header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #E7FAFE;
    border-radius: 40px 0px 0px 40px;
    padding-left: 5%;
    margin-left: 10%;
}

.home-page__header_button {
    margin-top: 3%;
}

.home-page__image  {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 0px 40px 40px 0px;
}

.home-page__sticker {
    grid-area: 1 / 1 / 2 / 3;
    margin-left: 45%;
    margin-top: 3%;
}

.home-page__header h1 {
    font-size: 64px;
    line-height: 77px;
    letter-spacing: -0.04em;
    width: 90%;
}

.home-page__header p, .home-page__recipes_text, 
.home-page__additional-information p, .home-page__try-this p,
.additional-information p, .home-page__instagram_text,
.home-page__subscribe p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}

.home-page__header h1, .home-page__header p {
    text-align: start;
    margin-bottom: 5%;
    margin-top: -2%;
}

.home-page__header_author {
    display: grid;
    grid-template-columns: 10% 20% 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 10%;
}

.home-page__header_author-photo {
    grid-area: 1 / 1 / 3 / 2;
}

.home-page__header_author-name {
    grid-area: 1 / 2 / 2 / 3;
}

.home-page__header_author-date {
    grid-area: 2 / 2 / 3 / 3;
}

.home-page__header button {
    grid-area: 1 / 3 / 3 / 4;
    justify-self: flex-end;
    margin-right: 10%;
    width: 200px;
    height: 60px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background: #000000;
}

.home-page__categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-page__categories_header, .home-page__categories_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-page__categories_header {
    margin: 10% 5% 5% 5%;
    font-size: 20px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.home-page__categories_header button {
    width: 200px;
    height: 60px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #000000;
    background: #E7FAFE;
    border-radius: 16px;
    border: 0;
}


.home-page__categories_card {
    text-align: center;
    margin-bottom: 10%;
}

.home-page__categories_card-gray {
    background-image: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
}

.home-page__categories_card-red {
    background-image: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
}

.home-page__categories_card-pink {
    background-image: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
}
.home-page__categories_card-gray, .home-page__categories_card-red, 
.home-page__categories_card-pink {
    border-radius: 30px;
    width: 180px;
    height: 152px;
}

.home-page__recipes_title, .home-page__recipes_text,
.home-page__instagram h1, .home-page__instagram_text,
.home-page__button_instagram {
    text-align: center;
}

.home-page__recipes_title, .home-page__additional-information h1, 
.home-page__try-this h1, .additional-information h1, .home-page__subscribe h1, 
.home-page__instagram h1 {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.home-page__recipe-examples {
    display: grid;
    grid-template-columns: repeat(3, 35%);
    grid-template-rows: repeat(3,28%);
    justify-content: center;
}

.home-page__recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    border-radius: 30px;
    padding-left: 12px;
}

.home-page__recipes_recipe {
    grid-area: 1 / 1 / 2 / 3;
}

.home-page__recipes_icon-like {
    grid-area: 1 / 3 / 2 / 3;
    padding: 15px 50px 15px 0px;
}

.home-page__recipes_name {
    grid-area: 2 / 1 / 3 / 3;
    flex-direction: column;
}

.home-page__recipes_banner {
    display: grid;
    grid-template-columns: 30%;
    grid-template-rows: repeat(3, 30%);
    align-items: center;
    grid-gap: 30px;
    margin-top: 5px;
}

.recipes__banner_one {
grid-area: 1 / 1 / 4 / 2; 
}

.recipes__banner_two { 
    grid-area: 1 / 1 / 2 / 2;
    flex-wrap: wrap;
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.recipes__banner_three { 
    grid-area: 2 / 1 / 3 / 2;
    padding-left: 20px;
    padding-top: 50px;
}

.recipes__banner_four { 
    grid-area: 3 / 2 / 4 / 1; 
    justify-content:center;
    padding-left: 130px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.6);
}

.home-page__additional-information {
    display: flex;
    flex-wrap: nowrap;
}

.home-page__additional-information img {
    border-radius: 30px;
}

.home-page__instagram, .home-page__additional-information_image {
    background-image: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
}

.home-page__instagram {
    padding: 60px 0px 80px 0px;
}

.home-page__instagram_instagram-account {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-page__instagram_page {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.home-page__instagram_page-header {
    display: grid;
    grid-template-columns: 10% 40% 1fr 10%;
    grid-template-rows: repeat(2, 1fr);
}

.home-page__instagram_page-header_icon { 
    grid-area: 1 / 1 / 3 / 2; 
}
.home-page__instagram_page-header_text { 
    grid-area: 1 / 2 / 2 / 3; 
}
.home-page__instagram_page-header_location { 
    grid-area: 2 / 2 / 3 / 3; 
}
.home-page__instagram_page-header_official { 
    grid-area: 1 / 3 / 3 / 4; 
}
.home-page__instagram_page-header_more { 
    grid-area: 1 / 4 / 3 / 5; 
}

.home-page__button {
    width: 229px;
    height: 60px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background: #000000;
    border-radius: 16px;
}

.home-page__button_instagram {
    margin-top: 20px;
}

.home-page__try-this_recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.home-page__try-this_recipe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;
    border-radius: 30px;
}

.home-page__try-this_recipe-img {
    grid-area: 1 / 1 / 2 / 3;
    border-radius: 20px;
}

.home-page__recipe_icon-like {
    grid-area: 1 / 3 / 2 / 3;
    padding: 10px 0px 10px 0px;
}

.home-page__try-this_recipe-name {
    grid-area: 2 / 1 / 3 / 3;
    flex-direction: column;
}

.home-page__icon,
.home-page__header_author-date {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}

.additional-information {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.additional-information p {
    padding-bottom: 80px;
}
.home-page__instagram_text {
    padding-bottom: 50px;
}
.home-page__try-this_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}